betterproto==1.2.5
certifi==2020.12.5
chardet==4.0.0
chatie-grpc==0.18.12
colorama==0.4.4
decorator==5.0.7
grpclib==0.4.1
gssapi==1.6.12
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
lxml==4.6.3
multidict==5.1.0
pyee==8.1.0
qrcode==6.1
requests==2.25.1
six==1.15.0
stringcase==1.2.0
urllib3==1.26.4
wechaty==0.6.24
wechaty-puppet==0.2.1
wechaty-puppet-hostie==0.4.1
